@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

body {
    background-color: #181C21;
    color: white;
    font-family: var(--font-poppins);
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.wave-emoji {
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    transform-origin: 70% 70%;
}