@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

body {
    background-color: #181C21;
    color: white;
    font-family: var(--font-poppins);
}